<header class="container mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <a class="navbar-brand" href="{{ url_for('index') }}">Stepik Delivery</a>
      </ul>
      <img class="ml-2" src="{{ url_for('static', filename='emoji.png') }}" alt="" width="24" height="25">
      {% if session.get('id') %}
        {% if session.get('is_admin') %}
          <a href="{{ url_for('admin') }}" class="btn btn-light btn-sm ml-4">Админ</a>
        {% endif %}
        <a href="{{ url_for('account') }}" class="btn btn-light btn-sm ml-4">Личный кабинет</a>
        <a href="{{ url_for('cart') }}" class="btn btn-light btn-sm ml-4">Корзина ({{ n_meals }})</a>
        <a href="{{ url_for('logout') }}" class="btn btn-light btn-sm ml-4">Выйти</a>
      {% else %}
        <a href="{{ url_for('cart') }}" class="btn btn-light btn-sm ml-4">Корзина ({{ n_meals }})</a>
        <a href="{{ url_for('login') }}" class="btn btn-warning btn-sm ml-4">Войти</a>
      {% endif %}
    </nav>
  </header>