<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Request | Stepik Delivery</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="my-4 py-4">
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5 mt-5">
          <div class="text-center">
            <img class="mb-4" src="{{ url_for('static', filename='check.png') }}" alt="" width="58" height="58">
            <h1 class="h3 mb-3 ">Заявка отправлена</h1>
            <p class="mb-4">Скоро мы вам перезвоним</p>
            {% if session.get('id') %}
              <p class="mt-4 mb-3">Перейдите личный кабинет, чтобы отслеживать статус заказа</p>
              <a href="{{ url_for('cart') }}" class="btn btn-primary btn-lg mt-3">Перейти</a>
            {% else %}
              <p class="mt-4 mb-3">Войдите в&nbsp;личный кабинет, чтобы отслеживать статус заказа</p>
              <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg mt-3">Войти</a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>